<!-- <div class="container">
  <div class="row my-4">
    <div class="col productsDestacated">
      <h2>Productos destacados</h2>
      <div class="listaProductosDestacados">
        <div *ngFor="let producto of productosDestacados">
          <div class="product-card">
            <img
              [src]="producto.image"
              alt="{{ producto.nombre }}"
              class="product-image"
            />
            <div class="contentProductCard">
              <h3>{{ producto.nombre }}</h3>
              <p>
                <span style="font-weight: bold">Marca:</span>
                {{ producto.marca }}
              </p>
              <p>
                <span style="font-weight: bold">Precio:</span> S/.
                {{ producto.precio }}
              </p>
              <p>
                <span style="font-weight: bold">Stock:</span>
                {{ producto.cantidad }} unid.
              </p>
            </div>
            <button class="btn btn-success addCart">Agregar carrito</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
