<section>
  <div class="container">
    <div class="row">
      <h1 style="margin: 50px 0 40px 0; font-weight: bold">
        Listado de Productos
      </h1>
      <div class="row">
        <div
          class="col-sm-6 col-md-3"
          *ngFor="let producto of listadoProductos"
          style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)"
        >
          <div class="card mb-4">
            <img
              src="{{ producto.image }}"
              class="card-img-top"
              alt="{{ producto.nombre }}"
              style="height: 180px; width: 100%; object-fit: cover"
            />
            <div class="card-body">
              <h5
                class="card-title"
                style="
                  margin-bottom: 16px;
                  text-transform: uppercase;
                  font-weight: bold;
                "
              >
                {{ producto.nombre }}
              </h5>
              <p class="card-text">
                <strong>Marca:</strong> {{ producto.marca }}
              </p>
              <p class="card-text">
                <strong>Categoria:</strong> {{ producto.tipoProd.nombre }}
              </p>
              <p class="card-text">
                <strong>Stock:</strong> {{ producto.cantidad }}
              </p>
              <p class="card-text">
                <strong>Precio:</strong>
                <strong style="font-size: 20px; font-weight: bold">
                  S/. {{ producto.precio }}
                </strong>
              </p>

              <div class="form-group">
                <label for="cantidad{{ producto.id }}">Cantidad:</label>
                <input
                  type="number"
                  id="cantidad{{ producto.id }}"
                  class="form-control"
                  min="1"
                  max="{{ producto.cantidad }}"
                  [(ngModel)]="cantidadSeleccionada[producto.id]"
                  placeholder="Ingrese cantidad"
                />
              </div>

              <button
                class="btn btn-success w-100"
                style="margin-top: 8px"
                (click)="
                  agregarAlCarrito(producto, cantidadSeleccionada[producto.id])
                "
              >
                Agregar al Carrito
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
