<section>
  <div class="container" style="margin: 40px 0">
    <h2>Carrito de Compras</h2>
    <div class="row">
      <div class="col-md-8">
        <div *ngIf="productosCart.length !== 0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio Unitario</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of productosCart">
                <td>{{ producto.nombre }}</td>
                <td>
                  <input
                    type="number"
                    [(ngModel)]="producto.total"
                    (change)="actualizarCantidad(producto)"
                    min="1"
                    [max]="producto.cantidad"
                    class="form-control"
                  />
                </td>
                <td>S/. {{ producto.precio | number : "1.2-2" }}</td>
                <td>
                  S/. {{ producto.precio * producto.total | number : "1.2-2" }}
                </td>
                <td>
                  <button
                    class="btn btn-danger"
                    (click)="eliminarProducto(producto)"
                  >
                    Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="productosCart.length === 0">
          <div
            class="productosCartEmpty"
            style="display: flex; flex-direction: column; align-items: center"
          >
            <img
              style="width: 300px; margin-top: 40px"
              src="https://cdn-icons-png.flaticon.com/512/5952/5952781.png"
              alt="cartEmpty"
            />
            <h2>Carrito vacío</h2>
            <p>Por favor, agrega productos al carrito.</p>
            <button class="btn btn-primary" routerLink="/store">
              Agregar Productos
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Resumen del Pedido</h5>
            <p class="card-text">
              Total de Productos: {{ calcularTotalProductos() }}
            </p>
            <p class="card-text">
              Total en S/.: {{ calcularTotal() | number : "1.2-2" }}
            </p>
            <button
              class="btn btn-success btn-block w-100"
              (click)="realizarCompra()"
            >
              Continuar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
